.list {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.item {
  width: 190px;
  height: 120px;
  padding: 1px;
  margin: 1px;
  list-style: none;
  counter-increment: my-counter;
}

/* add new style */

.gallery-image {
  width: 360px;
  height: 200px;
  border-radius: 5px;
  margin: 5px;
}

.posts li:not(:last-child) {
  margin-bottom: 16px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.post-title:first-letter {
  text-transform: uppercase;
}

.post-body {
  margin: 0;
}

.gallery-commant {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.gallery-item p {
  font-size: 1rem;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .container {
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
  }

  .list {
      width: 100%;
      height: auto;
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      color: rgb(19, 20, 20);
  }

  .item {
      width: 360px;
      height: 180px;
      padding: 2px;
      margin: 1px;
      list-style: none;
      width: calc((100% - 4px) / 4);
  }
}

@media screen and (min-width: 1270px) {
  .list {
      width: 100%;
  }


  .item {
      width: 400px;
      height: 175px;
      list-style: none;
      width: calc((100% - 10px) / 5);
  }
}

@media screen and (min-width: 1440px) {
  .list {
      width: 1440px;
  }

  .item {
      list-style: none;
      width: calc((100% - 10px) / 6);
  }
}