.card {
  width: 100%;
  height: auto;
  padding: 1px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(241, 248, 248);
}

.imag {
  width: 270px;
  height: 130px;
  padding: 2px;
  margin: 5px;
  border-radius: 5px;
}

.imagLag {
  width: 100%;
  height: auto;
}

/* .active {
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
  border-color: rgb(221, 211, 211);
  border-radius: 10px;
} */

.cardCommant {
  width: 260px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.comItem {
  width: 100px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.comIte {
  width: 100px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.comIt {
  width: 150px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.commant {
  padding: 5px;
  padding-left: 0px;
  margin: 2px;
  margin-left: 0px;
  color: rgb(243, 239, 239);
  font-size: 0em;
  font-weight: 0;
  line-height: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.icon {
  padding: 0px;
  margin: 2px;
  color: blue;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .cardCommant {
      width: 250px;
      height: 20px;
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
  }

  .imag {
      width: 270px;
      height: 165px;
      padding: 2px;
      margin: 2px;
  }

  /* .active {
      width: 100%;
      height: auto;
      margin: 20px;
      padding: 20px;
      border-bottom: 1px solid #ffffff;
      border-radius: 10px;
  } */

  .commant {
      padding: 3px;
      padding-left: 0px;
      margin: 2px;
      margin-left: 0px;
      color: rgb(243, 239, 239);
      font-size: 0.7em;
      font-weight: 200;
      line-height: 0.6;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
  }
  .comItem {
    width: 60px;
    height: 20px;
    padding: 0px;
    padding-right: 2px;
    margin: 0px;
    margin-right: 2px;
}

.comIte {
    width: 40px;
    height: 20px;
    padding: 0px;
    padding-right: 2px;
    margin: 0px;
    margin-right: 2px;
}

.comIt {
    width: 50px;
    height: 20px;
    padding: 0px;
    padding-right: 2px;
    margin: 0px;
    margin-right: 2px;
}
}

@media screen and (min-width: 1270px) {

.cardCommant {
    width: 310px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.imag {
  width: 334px;
  height: 165px;
  padding: 2px;
  margin: 1px;
}

.commant {
  padding: 5px;
  padding-left: 0px;
  margin: 1px;
  margin-left: 0px;
  color: rgb(243, 239, 239);
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.comItem {
  width: 100px;
  height: 20px;
}

.comIte {
  width: 60px;
  height: 20px;
}

.comIt {
  width: 100px;
  height: 20px;
}

.icon {
  padding: 0px;
  margin: 2px;
  color: blue;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
}


@media screen and (min-width: 1440px) {

.item {
  width: 450px;
}
}